<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>com.xieshijie.obsidian-line-metrics</string>
  <key>ProgramArguments</key>
  <array>
    <string>/usr/bin/python3</string>
    <string>/Users/minimax/Library/Application Support/Obsidian Line Metrics/collect.py</string>
  </array>
  <key>RunAtLoad</key>
  <true/>
  <key>StartInterval</key>
  <integer>60</integer>
  <key>ProcessType</key>
  <string>Background</string>
  <key>LowPriorityIO</key>
  <true/>
  <key>StandardOutPath</key>
  <string>/Users/minimax/Library/Application Support/Obsidian Line Metrics/collector.log</string>
  <key>StandardErrorPath</key>
  <string>/Users/minimax/Library/Application Support/Obsidian Line Metrics/collector.error.log</string>
</dict>
</plist>
